{% extends "base.html" %}

{% block title %}Applications{% endblock %}

{% block content %}
<main class="container mt-5">

    <h3 class="mb-4">Applications for {{ session[""] }}</h3>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Candidate Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job["user_name"] }}</td>
                <td>{{ job["user_email"] }}</td>
                <td>{{ job["status"] }}</td>
                <td>
                    <form method="POST" action="{{ url_for('common.profile') }}">

                        <button type="submit" name="email" class="btn btn-sm btn-primary">
                            View
                        </button>

                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>
{% endblock %}