{% extends "base.html" %}

{% block title %}Post Job{% endblock %}

{% block content %}
<main class="container mt-5">

    <h3 class="mb-4">Post New Job</h3>

    <form method="POST">
        <div class="mb-3">
            <label>Job Title</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Location</label>
            <input type="text" name="location" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Job Type</label>
            <select name="job_type" class="form-select">
                <option>Full Time</option>
                <option>Part Time</option>
                <option>Remote</option>
                <option>Freelance</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Salary</label>
            <input type="text" name="salary" class="form-control">
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="4" required></textarea>
        </div>

        <button class="btn btn-success">Post Job</button>
        <a href="{{url_for('p_home')}}" class="btn btn-secondary">Cancel</a>
    </form>

</main>
{% endblock %}